html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #444;
  padding: 20px;
  font-family: 'Coda', cursive;
}

h1 {
  color: #aaa;
  text-align: center;
  font-size: 9vh;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .05em;
  text-shadow: 1px 2px 2px black;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  font-size: 1.25em;
  text-align: center;
  height: 50px;
  cursor: pointer;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
}
li i {
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}
li.facebook {
  background: #3b5998;
  color: #839ccf;
  text-shadow: 2px 2px 1px rgba(38, 57, 97, 0.9);
  border-bottom: 4px solid #263961;
}
li.facebook:hover {
  background: #344e86;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.facebook {
    border-bottom: 0;
  }
}
li.twitter {
  background: #55acee;
  color: #c9e5fa;
  text-shadow: 2px 2px 1px rgba(22, 137, 224, 0.9);
  border-bottom: 4px solid #1689e0;
}
li.twitter:hover {
  background: #3ea1ec;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.twitter {
    border-bottom: 0;
  }
}
li.instagram {
  background: #3f729b;
  color: #8ab1cf;
  text-shadow: 2px 2px 1px rgba(41, 74, 101, 0.9);
  border-bottom: 4px solid #294a65;
}
li.instagram:hover {
  background: #386589;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.instagram {
    border-bottom: 0;
  }
}
li.googleplus {
  background: #dd4b39;
  color: #f0aea6;
  text-shadow: 2px 2px 1px rgba(172, 45, 30, 0.9);
  border-bottom: 4px solid #ac2d1e;
}
li.googleplus:hover {
  background: #d73925;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.googleplus {
    border-bottom: 0;
  }
}
li.pinterest {
  background: #c8232c;
  color: #e98187;
  text-shadow: 2px 2px 1px rgba(135, 24, 30, 0.9);
  border-bottom: 4px solid #87181e;
}
li.pinterest:hover {
  background: #b21f27;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.pinterest {
    border-bottom: 0;
  }
}
li.linkedin {
  background: #0e76a8;
  color: #46b8f0;
  text-shadow: 2px 2px 1px rgba(8, 68, 97, 0.9);
  border-bottom: 4px solid #084461;
}
li.linkedin:hover {
  background: #0c6590;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.linkedin {
    border-bottom: 0;
  }
}
li.youtube {
  background: #cc181e;
  color: #ef7579;
  text-shadow: 2px 2px 1px rgba(136, 16, 20, 0.9);
  border-bottom: 4px solid #881014;
}
li.youtube:hover {
  background: #b5151b;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  li.youtube {
    border-bottom: 0;
  }
}
@media only screen and (max-width: 700px) {
  li {
    min-width: 33.333333%;
    max-width: 33.333333%;
  }
}
@media only screen and (max-width: 300px) {
  li {
    width: 50%;
    min-width: 50px;
    max-width: 50%;
  }
}
