@import "compass/css3";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

$social-list: (
  facebook      #3b5998,
  twitter       #55acee,
  instagram     #3f729b,
  googleplus    #dd4b39,
  pinterest     #c8232c,
  linkedin      #0e76a8,
  youtube       #cc181e,
);

body {
  background:#444;
  padding:20px;
  font-family: 'Coda', cursive;
}

h1 {
  color:#aaa;
  text-align:center;
  font-size:9vh;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:.05em;
  text-shadow:1px 2px 2px black;
  margin-bottom:15px;
}

ul {
  margin:0;
  padding:0;
  display:flex;
  flex-wrap:wrap;
  position:relative;
}

li {
  flex:1 0 auto;
  display:flex;
  align-items:center;
  justify-content:center;
  list-style:none;
  font-size:1.25em;
  text-align:center;
  height:50px;
  cursor:pointer;
  transition:background .5s ease;
  
  i {
    transition:color .5s ease;
  }
  
  @each $s-name in $social-list {
    &.#{nth($s-name, 1)} {
      background: nth($s-name,2);
      color:lighten(nth($s-name,2),25%);
      text-shadow:2px 2px 1px rgba(darken(nth($s-name, 2),15%),.9);
      border-bottom: 4px solid darken(nth($s-name, 2), 15%);
      &:hover {
        background:darken(nth($s-name, 2), 5%);
        color:#fff;
      }
      @media only screen and (max-width: 700px) {
        border-bottom:0;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    min-width: 33.333333%;
    max-width: 33.333333%;
  }
 
  @media only screen and (max-width: 300px) {
    width:50%;
    min-width: 50px;
    max-width: 50%;
  }
} 